bson
django==4.2.8
django-extensions
django-filter
django-import-export==3.3.8
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
django-admin-datta
django-api-generator
django-autocomplete-light
psycopg
psycopg-binary
