{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

{% if request.user.is_authenticated %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <!--[ daily sales section ] start-->
    <div class="col-md-6 col-xl-6">
      <div class="card daily-sales">
        <div class="card-header">
          <h5>Pendapatan Harian</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0">
                <i class="fa fa-money-bill text-c-green f-30 m-r-10"></i>
                {{ all_transaksi }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--[ daily sales section ] start-->
    <div class="col-md-6 col-xl-6">
      <div class="card daily-sales">
        <div class="card-header">
          <h5>Kas Harian</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0">
                <i class="fa fa-wallet text-c-green f-30 m-r-10"></i>
                {{ cash }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[ daily sales section ] end-->

    <!--[ Monthly  sales section ] starts-->
    <div class="col-md-6 col-xl-6">
      <div class="card Monthly-sales">
        <div class="card-header">
          <h5>Total Obat</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <i class="fa fa-pills text-c-blue f-30 m-r-10"></i>
                {{ total_products }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[ Monthly  sales section ] end-->
    <!--[ year  sales section ] starts-->
    <div class="col-md-6 col-xl-6">
      <div class="card yearly-sales">
        <div class="card-header">
          <h5>Total Pemasok</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <i class="fa fa-user f-30 m-r-10"></i>
                {{ total_suppliers }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[ year  sales section ] end-->

    <!-- [ rating list ] starts-->
    <div class="col-md-6 col-xl-4">
      <div class="card user-list">
        <div class="card-header">
          <h5>Obat Paling Laku</h5>
        </div>
        <div class="card-block">
          {% if not best_selling %}
          <h5 style="color: darkgray;">Belum ada penjualan.</h5>
          {% else %}
          <div class="row align-items-center justify-content-center m-b-20">
            <div class="col-10">
              <h4 class="f-w-300 d-flex align-items-center float-left m-0">
                <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i> {{ best_selling.0.item__produk__nama }} 
              </h4>
            </div>
            <div class="col-2">
              <h4 class="d-flex  align-items-center float-right m-0">{{ best_selling.0.sold }}</h4>
            </div>
          </div>
          <div class="row">
            {% for p in best_selling %}
              {% if forloop.counter0 != 0  %}
                <div class="col-xl-12">
                  <h6 class="align-items-center float-left">
                    <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i> {{ p.item__produk__nama }}
                  </h6>
                  <h6 class="align-items-center float-right">{{ p.sold }} </h6>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- [ rating list ] end-->

    <div class="col-md-6 col-xl-4">
      <div class="card yearly-sales">
        <div class="card-header">
          <h5>Obat Habis</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <a href="{% url 'obat_habis_page' %}" class="nav-link">
                  <i class="fa fa-tablets text-c-red f-30 m-r-10"></i>
                  {{ total_empties }}
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card yearly-sales">
        <div class="card-header">
          <h5>Obat Kedaluwarsa</h5>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <a href="{% url 'obat_kedaluwarsa_page' %}" class="nav-link">
                  <i class="fa fa-capsules text-c-yellow f-30 m-r-10"></i>
                  {{ total_expireds }}
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% else %}

Welcome!

{% endif %}

{% endblock content %}