{% extends 'layouts/base.html' %}
{% load static %}
{% block extrastyle %}
  <style>
.form-rounded {
  border-radius: 1rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #007bff;
  border-bottom: 4px solid #1dc4e9;
  color: white
}
  </style>
{% endblock extrastyle %}
{% block content %}
  <!-- [ Main Content ] start -->
  {% if messages %}
    {% for message in messages %}
    <div class="{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}bg-emerald-400{% endif %}">
      <button type="button" class="close {% if message.tags %}{{ message.tags }}{% endif %}" data-dismiss="alert" aria-hidden="true">
        {{ message.message }} <i class="feather icon-delete"></i>
      </button>
    </div>
    {% endfor %}
  {% endif %}

  <!-- POPUP Result HERE? -->
  {% if results.exists %}
    {% for result in results %}
      {{ result }}
    {% endfor %}

  {% else %}
    <p>Nope</p>
  {% endif %}
  <!-- End of POPUP -->

  <div class="row mt-4">
    <div class="col-lg-12 mb-2 fixed">
      <div class="card m-0 p-4 bg-primary shadow-none">
        <div class="row">
          <div class="col-xs-12 col-lg-9">
              <form action="{% url 'search' %}" method="GET">
                <div class="input-group form-rounded">
                  <input class="form-control py-2 border-right-0 border form-rounded"
                        type="search"
                        placeholder="Tulis nama, kode, atau zat aktif"
                        autofocus="autofocus"
                        id="inputCode">
                    <span class="input-group-append">
                      <div class="input-group-text bg-transparent form-rounded">
                        <i class="fa fa-search"></i>
                      </div>
                    </span>
                </div>
            </form>
          </div>
          <div class="col-xs-12 col-lg-3 d-inline-flex text-white">
            <span>Rp.</span>
            <span class="font-weight-bold" style="font-size: 1.5rem;">Price</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card m-0 p-4 shadow-none">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Product</th>
              <th scope="col">Kuantitas</th>
              <th scope="col">Satuan</th>
              <th scope="col">Opsi Harga</th>
              <th scope="col">Harga Jual</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Value</td>
              <td>Input Kuantitas</td>
              <td>Dropdown</td>
              <td>Dropdown</td>
              <td>Input Price</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md fixed">
      <div class="card m-0 p-4 shadow-none">
        <form>
          <div class="form-group row">
            <label for="subTotal" class="col-xs-12 col-lg-3 col-form-label">Sub Total</label>
            <div class="col-xs-12 col-lg-9">
              <input type="text"
                     class="form-control form-control-lg text-right"
                     id="subTotal">
            </div>
          </div>
          <div class="form-group row">
            <label for="paymentTotal" class="col-xs-12 col-lg-3 col-form-label">Bayar</label>
            <div class="col-xs-12 col-lg-9">
              <input type="text"
                     class="form-control form-control-lg text-right"
                     id="paymentTotal">
            </div>
          </div>
          <div class="form-group row">
            <label for="paymentChange" class="col-xs-12 col-lg-3 col-form-label">Kembalian</label>
            <div class="col-xs-12 col-lg-9">
              <input type="text"
                     class="form-control form-control-lg text-right"
                     id="paymentChange">
            </div>
          </div>
          <div class="form-group row">
            <label for="paymentChange" class="col-xs-12 col-lg-3 col-form-label">Metode Pembayaran</label>
            <div class="col-xs-12 col-lg-9">
              <input type="text" class="form-control form-control-lg" id="paymentChange">
            </div>
          </div>
          <div class="form-group row">
            <label for="paymentChange" class="col-xs-12 col-lg-3 col-form-label">Diskon Tambahan</label>
            <div class="col-xs-12 col-lg-9">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active"
                     data-toggle="tab"
                     href="#discountPercentage"
                     role="tab"
                     aria-controls="discountPercentage"
                     aria-selected="true">%</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     data-toggle="tab"
                     href="#discountMoney"
                     role="tab"
                     aria-controls="discountMoney"
                     aria-selected="false">Rp</a>
                </li>
              </ul>
              <div class="tab-content p-0 mt-2">
                <div class="tab-pane active" id="discountPercentage" role="tabpanel">
                  <input type="text"
                         class="form-control form-control-lg text-right"
                         id="discountInputPercentage">
                </div>
                <div class="tab-pane" id="discountMoney" role="tabpanel">
                  <input type="text"
                         class="form-control form-control-lg text-right"
                         id="discountInputMoney">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-xs-12 col-lg-6">
              <button type="submit" class="btn btn-primary btn-block btn-lg">
                Bayar <kbd>F2</kbd>
              </button>
            </div>
            <div class="col-xs-12 col-lg-6">
              <button type="button" class="btn btn-info btn-block btn-lg">
                Tunda <kbd>F4</kbd>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- GENERATED DJANGO FORM -->
  <table class="table w-full">
    <form method="post">
      {% csrf_token %}

      <!-- Form Transaksi -->
      {{ form.as_p }}

      <!-- Form Item Transaksi -->
      {{ formset.management_form }}
    
      {% for form in formset.forms %}
      {% if forloop.first %}
      <thead>
        <tr>
          {% for field in form.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}
      <tr class="{% cycle row1 row2 %} formset_row">
        {% for field in form.visible_fields %}
        <td>
          {# Include the hidden fields in the form #}
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <input type="submit" value="Save">
    </form>
  </table>
  <!-- [ Main Content ] end -->
{% endblock content %}


{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  ; (function ($) {
    $.fn.formset = function (opts) {
      var options = $.extend({}, $.fn.formset.defaults, opts),
        flatExtraClasses = options.extraClasses.join(' '),
        totalForms = $('#id_' + options.prefix + '-TOTAL_FORMS'),
        maxForms = $('#id_' + options.prefix + '-MAX_NUM_FORMS'),
        minForms = $('#id_' + options.prefix + '-MIN_NUM_FORMS'),
        childElementSelector = 'input,select,textarea,label,div',
        $$ = $(this),

        applyExtraClasses = function (row, ndx) {
          if (options.extraClasses) {
            row.removeClass(flatExtraClasses);
            row.addClass(options.extraClasses[ndx % options.extraClasses.length]);
          }
        },

        updateElementIndex = function (elem, prefix, ndx) {
          var idRegex = new RegExp(prefix + '-(\\d+|__prefix__)-'),
            replacement = prefix + '-' + ndx + '-';
          if (elem.attr("for")) elem.attr("for", elem.attr("for").replace(idRegex, replacement));
          if (elem.attr('id')) elem.attr('id', elem.attr('id').replace(idRegex, replacement));
          if (elem.attr('name')) elem.attr('name', elem.attr('name').replace(idRegex, replacement));
        },

        hasChildElements = function (row) {
          return row.find(childElementSelector).length > 0;
        },

        showAddButton = function () {
          return maxForms.length == 0 ||   // For Django versions pre 1.2
            (maxForms.val() == '' || (maxForms.val() - totalForms.val() > 0));
        },

        /**
        * Indicates whether delete link(s) can be displayed - when total forms > min forms
        */
        showDeleteLinks = function () {
          return minForms.length == 0 ||   // For Django versions pre 1.7
            (minForms.val() == '' || (totalForms.val() - minForms.val() > 0));
        },

        insertDeleteLink = function (row) {
          var delCssSelector = $.trim(options.deleteCssClass).replace(/\s+/g, '.'),
            addCssSelector = $.trim(options.addCssClass).replace(/\s+/g, '.');
          if (row.is('TR')) {
            // If the forms are laid out in table rows, insert
            // the remove button into the last table cell:
            row.append('<td><a class="' + options.deleteCssClass + '" href="javascript:void(0)">' + options.deleteText + '</a></td>');
          } else if (row.is('UL') || row.is('OL')) {
            // If they're laid out as an ordered/unordered list,
            // insert an <li> after the last list item:
            row.append('<li><a class="' + options.deleteCssClass + '" href="javascript:void(0)">' + options.deleteText + '</a></li>');
          } else {
            // Otherwise, just insert the remove button as the
            // last child element of the form's container:
            row.append('<a class="' + options.deleteCssClass + '" href="javascript:void(0)">' + options.deleteText + '</a>');
          }
          // Check if we're under the minimum number of forms - not to display delete link at rendering
          if (!showDeleteLinks()) {
            row.find('a.' + delCssSelector).hide();
          }

          row.find('a.' + delCssSelector).click(function () {
            var row = $(this).parents('.' + options.formCssClass),
              del = row.find('input:hidden[id $= "-DELETE"]'),
              buttonRow = row.siblings("a." + addCssSelector + ', .' + options.formCssClass + '-add'),
              forms;
            if (del.length) {
              // We're dealing with an inline formset.
              // Rather than remove this form from the DOM, we'll mark it as deleted
              // and hide it, then let Django handle the deleting:
              del.val('on');
              row.hide();
              forms = $('.' + options.formCssClass).not(':hidden');
            } else {
              row.remove();
              // Update the TOTAL_FORMS count:
              forms = $('.' + options.formCssClass).not('.formset-custom-template');
              totalForms.val(forms.length);
            }
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
              // Apply `extraClasses` to form rows so they're nicely alternating:
              applyExtraClasses(forms.eq(i), i);
              if (!del.length) {
                // Also update names and IDs for all child controls (if this isn't
                // a delete-able inline formset) so they remain in sequence:
                forms.eq(i).find(childElementSelector).each(function () {
                  updateElementIndex($(this), options.prefix, i);
                });
              }
            }
            // Check if we've reached the minimum number of forms - hide all delete link(s)
            if (!showDeleteLinks()) {
              $('a.' + delCssSelector).each(function () { $(this).hide(); });
            }
            // Check if we need to show the add button:
            if (buttonRow.is(':hidden') && showAddButton()) buttonRow.show();
            // If a post-delete callback was provided, call it with the deleted form:
            if (options.removed) options.removed(row);
            return false;
          });
        };

      $$.each(function (i) {
        var row = $(this),
          del = row.find('input:checkbox[id $= "-DELETE"]');
        if (del.length) {
          // If you specify "can_delete = True" when creating an inline formset,
          // Django adds a checkbox to each form in the formset.
          // Replace the default checkbox with a hidden field:
          if (del.is(':checked')) {
            // If an inline formset containing deleted forms fails validation, make sure
            // we keep the forms hidden (thanks for the bug report and suggested fix Mike)
            del.before('<input type="hidden" name="' + del.attr('name') + '" id="' + del.attr('id') + '" value="on" />');
            row.hide();
          } else {
            del.before('<input type="hidden" name="' + del.attr('name') + '" id="' + del.attr('id') + '" />');
          }
          // Hide any labels associated with the DELETE checkbox:
          $('label[for="' + del.attr('id') + '"]').hide();
          del.remove();
        }
        if (hasChildElements(row)) {
          row.addClass(options.formCssClass);
          if (row.is(':visible')) {
            insertDeleteLink(row);
            applyExtraClasses(row, i);
          }
        }
      });

      if ($$.length) {
        var hideAddButton = !showAddButton(),
          addButton, template;
        if (options.formTemplate) {
          // If a form template was specified, we'll clone it to generate new form instances:
          template = (options.formTemplate instanceof $) ? options.formTemplate : $(options.formTemplate);
          template.removeAttr('id').addClass(options.formCssClass + ' formset-custom-template');
          template.find(childElementSelector).each(function () {
            updateElementIndex($(this), options.prefix, '__prefix__');
          });
          insertDeleteLink(template);
        } else {
          // Otherwise, use the last form in the formset; this works much better if you've got
          // extra (>= 1) forms (thnaks to justhamade for pointing this out):
          template = $('.' + options.formCssClass + ':last').clone(true).removeAttr('id');
          template.find('input:hidden[id $= "-DELETE"]').remove();
          // Clear all cloned fields, except those the user wants to keep (thanks to brunogola for the suggestion):
          template.find(childElementSelector).not(options.keepFieldValues).each(function () {
            var elem = $(this);
            // If this is a checkbox or radiobutton, uncheck it.
            // This fixes Issue 1, reported by Wilson.Andrew.J:
            if (elem.is('input:checkbox') || elem.is('input:radio')) {
              elem.attr('checked', false);
            } else {
              elem.val('');
            }
          });
        }
        // FIXME: Perhaps using $.data would be a better idea?
        options.formTemplate = template;

        if ($$.is('TR')) {
          // If forms are laid out as table rows, insert the
          // "add" button in a new table row:
          var numCols = $$.eq(0).children().length,   // This is a bit of an assumption :|
            buttonRow = $('<tr><td colspan="' + numCols + '"><a class="' + options.addCssClass + '" href="javascript:void(0)">' + options.addText + '</a></tr>')
              .addClass(options.formCssClass + '-add');
          $$.parent().append(buttonRow);
          if (hideAddButton) buttonRow.hide();
          addButton = buttonRow.find('a');
        } else {
          // Otherwise, insert it immediately after the last form:
          $$.filter(':last').after('<a class="' + options.addCssClass + '" href="javascript:void(0)">' + options.addText + '</a>');
          addButton = $$.filter(':last').next();
          if (hideAddButton) addButton.hide();
        }
        addButton.click(function () {
          var formCount = parseInt(totalForms.val()),
            row = options.formTemplate.clone(true).removeClass('formset-custom-template'),
            buttonRow = $($(this).parents('tr.' + options.formCssClass + '-add').get(0) || this)
          delCssSelector = $.trim(options.deleteCssClass).replace(/\s+/g, '.');
          applyExtraClasses(row, formCount);
          row.insertBefore(buttonRow).show();
          row.find(childElementSelector).each(function () {
            updateElementIndex($(this), options.prefix, formCount);
          });
          totalForms.val(formCount + 1);
          // Check if we're above the minimum allowed number of forms -> show all delete link(s)
          if (showDeleteLinks()) {
            $('a.' + delCssSelector).each(function () { $(this).show(); });
          }
          // Check if we've exceeded the maximum allowed number of forms:
          if (!showAddButton()) buttonRow.hide();
          // If a post-add callback was supplied, call it with the added form:
          if (options.added) options.added(row);
          return false;
        });
      }

      return $$;
    };

    /* Setup plugin defaults */
    $.fn.formset.defaults = {
      prefix: 'form',                  // The form prefix for your django formset
      formTemplate: null,              // The jQuery selection cloned to generate new form instances
      addText: 'add another',          // Text for the add link
      deleteText: 'remove',            // Text for the delete link
      addCssClass: 'add-row',          // CSS class applied to the add link
      deleteCssClass: 'delete-row',    // CSS class applied to the delete link
      formCssClass: 'dynamic-form',    // CSS class applied to each form in a formset
      extraClasses: [],                // Additional CSS classes, which will be applied to each form in turn
      keepFieldValues: '',             // jQuery selector for fields whose values should be kept when the form is cloned
      added: null,                     // Function called each time a new form is added
      removed: null                    // Function called each time a form is deleted
    };
  })(jQuery);
</script>
<script type="text/javascript">
  $('.formset_row').formset({
    addText: '<div class="w-max px-2 py-1 text-sm font-bold bg-cyan-400 hover:bg-emerald-400 border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black]"><i class="fas fa-plus"></i> Tambah Produk</div>',
    deleteText: '<i class="feather icon-delete" title="Hapus Produk"></i>',
    prefix: 'item_set'
  });
</script>
{% endblock %}