{% extends "layouts/base.html" %}
{% load static %}
{% block extrastyle %}
  <style>
    .gap {
      gap: 10px;
    }
  </style>
{% endblock extrastyle %}
{% block content %}
  <div class="row">
  <!-- Sumber Dana -->
  <div class="col-md-6 col-xl-6">
    <div class="card daily-sales">
      <div class="card-block">
        <h6 class="mb-4">Uang Kas</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">
              <i class="fa fa-wallet text-c-green f-30 m-r-10"></i>
              {{ cash }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card daily-sales">
      <div class="card-block">
        <h6 class="mb-4">Dana Rekening</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">
              <i class="fa fa-money-check text-c-blue f-30 m-r-10"></i>
              {{ rekening }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-12">
      <div class="card user-list">
        <div class="card-header">
          <h5>Kurva Penjualan</h5>
        </div>
        <div class="card-block">
          <form>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="transaksi__metode_pembayaran">Metode Pembayaran</label>
                {{ filter.form.metode_pembayaran }}
              </div>
              <div class="form-group col-md-3">
                <label for="transaksi__status">Status</label>
                {{ filter.form.status }}
              </div>
              <div class="form-group col-md-3">
                <label for="created_on">Rentang Tanggal</label>
                <div class="d-inline-flex gap align-items-center">
                  {{ filter.form.date }}
                </div>
              </div>
            </div>
                {{ filter.form.date_after }}

            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <canvas id="myChart" aria-label="Hello ARIA World" role="img">
          </canvas>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script>
  const ctx = document.getElementById('myChart');

  const parseLabels = '{{labels}}'.split(', ')
  const parseChart = '{{data}}'

  console.log({
    parseLabels,
    parseChart
  })

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: `{{ labels }}`.split(", "),
      datasets: [{
        label: 'Total Pembelian',
        data: JSON.parse(`{{ data }}`),
        // data: [52000, 17500],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
    },
  });
  </script>
{% endblock %}
