{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card user-list">
      <div class="card-header">
        <h5>Kurva Penjualan</h5>
      </div>
      <div class="card-block">
        <form>
          <div> 
            {{ filter.form.as_p }}
          </div>
          <button type="submit">Search</button>
       </form>
        <canvas id="myChart" aria-label="Hello ARIA World" role="img">
          <p>Hello Fallback World</p>
        </canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: `{{ labels }}`.split(", "),
      datasets: [{
        label: 'Total Pembelian',
        data: JSON.parse(`{{ data }}`),
        // data: [52000, 17500],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
    },
  });
</script>
{% endblock %}