{% extends "layouts/base.html" %}
{% load i18n admin_urls static admin_modify %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
{% endblock %}
{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{ opts.verbose_name_plural|capfirst }}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#"><i class="feather icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:">{{ opts.app_config.verbose_name }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:">{{ opts.verbose_name_plural|capfirst }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block content %}
    <div class="py-4 ms-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">
                    {% if add %}
                        {% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}
                    {% else %}
                        {{ original|truncatewords:"18" }}
                        {{ original.pajak }}
                    {% endif %}
                </h1>
            </div>
            <div>
                {% block object-tools %}
                    {% if change %}
                        {% if not is_popup %}
                            {% block object-tools-items %}
                                {% change_form_object_tools %}
                            {% endblock %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row" x-data="pembelian">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-xs-12 col-lg-12">{{ form.obat }}</div>
                    <form x-ref="formPembelian"
                          {% if has_file_field %}enctype="multipart/form-data"{% endif %}
                          action="{{ form_url }}"
                          method="post"
                          id="{{ opts.model_name }}_form"
                          novalidate>
                        {% csrf_token %}
                        <div class="{{ direction.panel }}">
                            {% block form_top %}{% endblock %}
                        </div>
                        <div>
                            {% block field_sets %}
                                {% for fieldset in adminform %}
                                    {% if forloop.counter > 1 %}<hr>{% endif %}
                                    {% include "admin/pembelian/includes/fieldset.html" %}
                                {% endfor %}
                            {% endblock %}
                            {% block after_field_sets %}{% endblock %}
                            {% block inline_field_sets %}
                                {% for inline_admin_formset in inline_admin_formsets %}
                                    {% include inline_admin_formset.opts.template %}
                                {% endfor %}
                            {% endblock %}
                            {% comment %} <section class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Produk</h3>
                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap mb-0 rounded">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Produk</th>
                                                    <th>Jumlah</th>
                                                    <th>Satuan</th>
                                                    <th>Harga</th>
                                                    <th>Diskon</th>
                                                    <th>Nominal Diskon</th>
                                                    <th>Bonus</th>
                                                    <th>Nominal Bonus</th>
                                                    <th>Tanggal Kedaluwarsa</th>
                                                    <th>Hapus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template x-for="(item, index) in produk">
                                                    <tr>
                                                        <td class="align-middle">
                                                            <select 
                                                                :name="'pembelianobat_set-' + index + '-obat'" 
                                                                :id="'id_pembelianobat_set-' + index + '-obat'" 
                                                                x-model="item.obat" 
                                                                class="form-control form-select"
                                                                @change="changeObat($event, item, index)"
                                                            >
                                                                <option value="">------</option>
                                                                <template x-for="option in obat" :key="option.id">
                                                                    <option 
                                                                        :value="option.id" 
                                                                        x-text="option.nama">
                                                                    </option>
                                                                </template>
                                                            </select>
                                                        </td>
                                                        
                                                        <td class="align-middle">
                                                            <input x-model="item.jumlah"
                                                                   @keydown.debounce="changeJumlah($event, item.jumlah, index)"
                                                                   @change.debounce="changeJumlah($event, item.jumlah, index)"
                                                                   min="1"
                                                                   type="number"
                                                                   :name="'pembelianobat_set-' + index + '-jumlah'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-jumlah'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <select :name="'pembelianobat_set-' + index + '-satuan'"  
                                                                    :id="'id_pembelianobat_set-' + index + '-satuan'"
                                                                    x-model="item.satuan"
                                                                    @change="changeSatuan($event, item.satuan, index)"
                                                                    class="form-control form-select">
                                                                <option value="">------</option>
                                                                <template x-for="option in satuan" :key="option.id">
                                                                    <option :value="option.id" x-text="option.nama" :selected="option.id === item.satuan"></option>
                                                                </template>
                                                            </select>
                                                        </td>
                                                        <td class="align-middle">
                                                            <input x-model="item.harga"
                                                                   @keydown.debounce="changeHarga($event, item, index)"
                                                                   @change.debounce="changeHarga($event, item, index)"
                                                                   min="1"
                                                                   type="number"
                                                                   :name="'pembelianobat_set-' + index + '-harga'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-harga'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <input x-model="item.diskon"
                                                                   @keydown.debounce="changeDiskon($event, item, index)"
                                                                   @change.debounce="changeDiskon($event, item, index)"
                                                                   min="1"
                                                                   type="number"
                                                                   :name="'pembelianobat_set-' + index + '-diskon'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-diskon'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <input x-model="item.nominal_diskon"
                                                                   @keydown.debounce="changeNominalDiskon($event, item.nominal_diskon, index)"
                                                                   @change.debounce="changeNominalDiskon($event, item.nominal_diskon, index)"
                                                                   readonly
                                                                   type="number"
                                                                   :name="'pembelianobat_set-' + index + '-nominal_diskon'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-nominal_diskon'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <input x-model="item.bonus"
                                                                   @keydown.debounce="changeBonus($event, item.bonus, index)"
                                                                   @change.debounce="changeBonus($event, item.bonus, index)"
                                                                   min="1"
                                                                   type="number"
                                                                   :name="'pembelianobat_set-' + index + '-bonus'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-bonus'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <select :name="'pembelianobat_set-' + index + '-bonus_satuan'"
                                                                    :id="'id_pembelianobat_set-' + index + '-bonus_satuan'"
                                                                    x-model="item.bonus_satuan"
                                                                    @change="changeBonusSatuan($event, item.bonus_satuan, index)"
                                                                    class="form-control form-select">
                                                                <option value="">------</option>
                                                                <template x-for="option in satuan" :key="option.id">
                                                                    <option :value="option.id" x-text="option.nama" :selected="option.id === item.bonus_satuan"></option>
                                                                </template>
                                                            </select>
                                                        </td>
                                                        <td class="align-middle">
                                                            <input x-model="item.tanggal_kedaluwarsa"
                                                                   @keydown.debounce="changeTanggalKedaluwarsa($event, item.tanggal_kedaluwarsa, index)"
                                                                   @change.debounce="changeTanggalKedaluwarsa($event, item.tanggal_kedaluwarsa, index)"
                                                                   type="date"
                                                                   :name="'pembelianobat_set-' + index + '-tanggal_kedaluwarsa'" 
                                                                   :id="'id_pembelianobat_set-' + index + '-tanggal_kedaluwarsa'"
                                                                   class="form-control">
                                                        </td>
                                                        <td class="align-middle">
                                                            <button type="button"
                                                                    class="btn btn-danger"
                                                                    x-on:click="deleteProduct(index, item)">
                                                                <i class="fa fa-trash"></i> Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button type="button" class="btn btn-link" x-on:click="addProduk()">
                                        <i class="fa fa-plus"></i>
                                        Add another Produk
                                    </button>
                                </div>
                            </section> {% endcomment %}
                        {% block after_related_objects %}
                        {% endblock after_related_objects %}
                        {% block submit_buttons_bottom %}
                        <div class="card submit_btn">
                            <div class="card-body">
                                {% block submit-row %}
                                    <button @click="clearLocalStorage()" type="submit" name="_save" class="btn btn-sm btn-primary">{% trans 'Save' %}</button>
                                {% endblock %}
                            </div>
                        </div>
                        {% endblock submit_buttons_bottom %}
                        {% block admin_change_form_document_ready %}
                            <script type="text/javascript" id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}" {% if adminform and add %}data-model-name="{{ opts.model_name }}"{% endif %}>
                            </script>
                        {% endblock admin_change_form_document_ready %}
                        {% prepopulated_fields_js %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script>
        function clearLocalStorage() {
            localStorage.removeItem('product-pembelian');
        }
    </script>
    <script>
        clearLocalStorage()

        function generateRandStr(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let counter = 0;
            while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * characters.length));
            counter += 1;
            }
            return result;
        }

        function convert(money) {
            return Math.ceil(Number(money.replace(/[^0-9.-]+/g,"")))
        }
    </script>
    <script>
    $('.delete').hide();
    document.addEventListener('alpine:init', () => {
        Alpine.data('pembelian', () => ({
            diskon: 0, 
            pajak: 0, 
            total: 0, 
            nominal_pajak: 0,
            nominal_diskon: 0,
            currentProduct: null,

            product: Alpine.$persist([]).as('product-pembelian'),

            init() {                
                this.obat = fetchObat()
                this.satuan = fetchSatuan()
                const currentPath = window.location.pathname

                if (!currentPath.includes('add')) {
                    this.fetchProduk()

                    this.pajak = '{{original.pajak}}'
                    this.nominal_pajak = '{{original.nominal_pajak}}'
                    this.diskon = '{{original.diskon}}'
                    this.nominal_diskon = '{{original.nominal_diskon}}'
                    this.total = '{{original.total}}'
                }                  
            },

            async fetchProduk() {
                try {
                    let url = '/api/obat/?pembelian_id={{original.id}}';

                    const response = await fetch(url, { 
                    method: "GET",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    });

                    if (!response.ok) {
                    throw new Eroor(response.message)
                    }

                    const responseJSON = await response.json()
                    const result = responseJSON.data

                    const overide = result.map(item => {
                        return {
                            id: item.id,
                            obat: item.obat,
                            jumlah: item.jumlah,	
                            satuan: item.satuan,
                            harga: item.harga, 	
                            diskon: item.diskon, 	
                            nominal_diskon: item.nominal_disko,	
                            bonus: item.bonus,
                            bonus_satuan: item.bonus_satuan, 	
                            tanggal_kedaluwarsa: item.tanggal_kedaluwarsa
                        }
                    })

                    result.forEach(item => {
                        this.sumTotal.push({
                            id: item.id,
                            value: item.harga,
                            totalProduk: item.harga - item.nominal_disko
                        })
                    })

                    this.produk = overide
                    return result
                } catch (error) {
                    console.log(error)
                }      
            },

            /**
            changeObat(event) {
                const value = event.target.value
                console.log(value)
            },

            changeJumlah(event, data, position) {
              const value = event.target.value

              this.produk[position].jumlah = value
            },

            changeSatuan(event, data, position) {
              const value = event.target.value
              
              this.produk[position].satuan = value
            },
            **/

            changeHarga(event) {
                const value = event.target.value
                const idElement = event.target.id

                const parseValue = convert(value)

                const idElementSplit = idElement.split("-")

                const finalId = `${idElementSplit[0]}-${idElementSplit[1]}`

                const findExistProduct = this.product.find(item => item.id === finalId)

                if (!findExistProduct) {
                    const data = {
                        id: finalId,
                        harga: parseValue,
                        diskon: 0,
                        nominal_diskon: 0,
                        subTotal: parseValue
                    }

                    this.product.push(data)
                } else {
                    const findIndex = this.product.findIndex(item => item.id === finalId)

                    const currentProduct = this.product[findIndex]

                    currentProduct.harga = parseValue
                    
                    if (currentProduct.diskon) {
                        currentProduct.nominal_diskon = Math.ceil(this.handleCalculationNominal(currentProduct.harga, currentProduct.diskon))
                        document.getElementById(`${finalId}-nominal_diskon`).value = currentProduct.nominal_diskon;
                    }

                    currentProduct.subTotal = Math.ceil(currentProduct.harga - currentProduct.nominal_diskon)
                }

                if (this.diskon) {
                    this.nominal_diskon = Math.ceil(this.handleCalculationNominal(this.total, this.diskon))
                }

                if (this.pajak) {
                    this.nominal_pajak = Math.ceil(this.handleCalculationNominal(this.total, this.pajak))
                }

                this.handleCalculateTotal()
            },

            handleCalculateTotal() {
                const sumSubTotal = this.product.reduce((accumulator, currentValue) => accumulator + currentValue.subTotal, 0)

                this.total = Math.ceil(((sumSubTotal + this.nominal_pajak) - this.nominal_diskon))
            },

            changeDiskon(event) {
                const value = event.target.value
                const idElement = event.target.id
                
                const idElementSplit = idElement.split("-")

                const finalId = `${idElementSplit[0]}-${idElementSplit[1]}`
              
                const findExistProduct = this.product.find(item => item.id === finalId)

                if (!findExistProduct) {
                    const data = {
                        id: finalId,
                        harga: 0,
                        diskon: Number(value),
                        nominal_diskon: 0,
                        subTotal: 0
                    }

                    this.product.push(data)
                } else {
                    const findIndex = this.product.findIndex(item => item.id === finalId)

                    const currentProduct = this.product[findIndex]

                    currentProduct.diskon = Number(value)
                    
                    const resultDiskonNominal = Math.ceil(this.handleCalculationNominal(currentProduct.harga, currentProduct.diskon))

                    currentProduct.nominal_diskon = resultDiskonNominal

                    currentProduct.subTotal = Math.ceil(currentProduct.harga - currentProduct.nominal_diskon)

                    document.getElementById(`${finalId}-nominal_diskon`).value = currentProduct.nominal_diskon;
                }

                if (this.diskon) {
                    this.nominal_diskon = Math.ceil(this.handleCalculationNominal(this.total, this.diskon))
                }

                if (this.pajak) {
                    this.nominal_pajak = Math.ceil(this.handleCalculationNominal(this.total, this.pajak))
                }

                this.handleCalculateTotal()
            },

            updateDiskon(event) {
                const value = event.target.value
                const idElement = event.target.id

                this.diskon = Number(value)

                const currentSubTotal = this.product.reduce((accumulator, currentValue) => accumulator + currentValue.subTotal, 0)

                this.nominal_diskon = Math.ceil(this.handleCalculationNominal(currentSubTotal, this.diskon))

                this.handleCalculateTotal()
            },

            updatePajak(event) {
                const value = event.target.value
                const idElement = event.target.id

                this.pajak = Number(value)

                const currentSubTotal = this.product.reduce((accumulator, currentValue) => accumulator + currentValue.subTotal, 0)

                this.nominal_pajak = Math.ceil(this.handleCalculationNominal(currentSubTotal, this.pajak))

                this.handleCalculateTotal()
            },

            handleCalculationNominal(total, value) {
                return (total * value) / 100
            },

            deleteProduct(event) {
                const idElement = event.id

                const rowIdElement = `id_${idElement}`

                const findExistProduct = this.product.find(item => item.id === rowIdElement)

                if (!findExistProduct) {
                    console.log("Produk Kosong")
                } else {
                    const findIndex = this.product.findIndex(item => item.id === rowIdElement)
                    this.product.splice(findIndex, 1)
                    
                    this.handleCalculateTotal()
                }

                if (this.diskon) {
                    this.nominal_diskon = Math.ceil(this.handleCalculationNominal(this.total, this.diskon))
                }

                if (this.pajak) {
                    this.nominal_pajak = Math.ceil(this.handleCalculationNominal(this.total, this.pajak))
                }

                this.handleCalculateTotal()

                // delete element by id
                document.getElementById(idElement).remove();
            }
        }))
    })

    async function fetchObat() {
      try {
        let url = '/api/produk/';

        const response = await fetch(url, { 
          method: "GET",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          },
        });

        if (!response.ok) {
          throw new Eroor(response.message)
        }

        const responseJSON = await response.json()
        const result = responseJSON.data

        return result
      } catch (error) {
        console.log(error)
      }      
    }

    async function fetchSatuan() {
      try {
        let url = '/api/unit/';

        const response = await fetch(url, { 
          method: "GET",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          },
        });

        if (!response.ok) {
          throw new Eroor(response.message)
        }

        const responseJSON = await response.json()
        const result = responseJSON.data

        return result
      } catch (error) {
        console.log(error)
      }      
    }
    </script>
{% endblock extra_js %}
